// Configuration shell. Included pipelines do not bring their own config, so everything the two
// pipelines expect from nextflow.config is provided here.

plugins {
    // patched nf-schema (validateParameters blocks on Channel params), see README
    id 'nf-schema@2.7.2-channel.3'
}

manifest {
    name        = 'rnaseq-diffabundance'
    version     = '0.1.0dev'
    description = 'nf-core/rnaseq composed with nf-core/differentialabundance'
    // read by the pipelines' start-up banners
    doi         = '10.5281/zenodo.1400710'
    homePage    = 'https://github.com/nf-core/rnaseq'
}

docker.enabled      = true
docker.registry     = 'quay.io'
docker.runOptions   = '-u $(id -u):$(id -g)'

process.resourceLimits = [ cpus: 4, memory: 15.GB, time: 4.h ]

// Defaults of the config params of rnaseq. Its process config reads them as top-level params.
includeConfig 'pipelines/nf-core/rnaseq/conf/params.config'

// Resource labels of both pipelines
includeConfig 'pipelines/nf-core/rnaseq/conf/base.config'

params {
    // read by the process config of differentialabundance
    outdir                          = 'out'
    shinyngs_deploy_to_shinyapps_io = false
}

// Process configuration of both pipelines
includeConfig 'pipelines/nf-core/rnaseq/conf/process.config'
includeConfig 'pipelines/nf-core/differentialabundance/conf/modules.config'

// Process environment that the pipelines set in their nextflow.config
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}
process.shell = ["bash", "-C", "-e", "-u", "-o", "pipefail"]
