process { withName: 'SHINYNGS_APP' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d168a374ce5dc1af' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d168a374ce5dc1af' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d168a374ce5dc1af' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d168a374ce5dc1af' } }
