process { withName: 'SHINYNGS_APP' { container = 'modules/nf-core/shinyngs/app/.conda-lock/linux_arm64-bd-d168a374ce5dc1af_1.txt' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'modules/nf-core/shinyngs/staticdifferential/.conda-lock/linux_arm64-bd-d168a374ce5dc1af_1.txt' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'modules/nf-core/shinyngs/staticexploratory/.conda-lock/linux_arm64-bd-d168a374ce5dc1af_1.txt' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'modules/nf-core/shinyngs/validatefomcomponents/.conda-lock/linux_arm64-bd-d168a374ce5dc1af_1.txt' } }
