process { withName: 'SHINYNGS_APP' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--ed7d3904b821c0a8' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--ed7d3904b821c0a8' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--ed7d3904b821c0a8' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--ed7d3904b821c0a8' } }
