process { withName: 'SHINYNGS_APP' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d43071e62bc500d3' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d43071e62bc500d3' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d43071e62bc500d3' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.1--d43071e62bc500d3' } }
