process { withName: 'SHINYNGS_APP' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--b810af5b9efbb4b2' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--b810af5b9efbb4b2' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--b810af5b9efbb4b2' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.1--b810af5b9efbb4b2' } }
