process { withName: 'SHINYNGS_APP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/74/74ebb0b4cfa12e1174262987ffa0559ab388198ba94196a4fd295ce5a9051a22/data' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/74/74ebb0b4cfa12e1174262987ffa0559ab388198ba94196a4fd295ce5a9051a22/data' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/74/74ebb0b4cfa12e1174262987ffa0559ab388198ba94196a4fd295ce5a9051a22/data' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/74/74ebb0b4cfa12e1174262987ffa0559ab388198ba94196a4fd295ce5a9051a22/data' } }
